<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ril.rilcompany.mapper.UserMapper">
    <sql id="USER_TABLE">
        user_tb
    </sql>

    <sql id="USER_COLUMN">
        userid,username,password,usersex,useremail,userphone
    </sql>

    <!--logUser-->
    <select id="getUser" resultType="com.ril.rilcompany.model.UserModel">
        SELECT
        <include refid="USER_COLUMN"/>
        FROM
        <include refid="USER_TABLE"/>
       <where>
            <if test="username!=null">
              AND username = #{username, jdbcType=VARCHAR}
            </if>
            <if test="password!=null">
              AND password = #{password, jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--addUser-->
    <insert id="addUser" parameterType="map">
        INSERT INTO
        <include refid="USER_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            username,password,useremial,usersex,userphone
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{useremail,jdbcType=VARCHAR},#{useresex,jdbcType=VARCHAR},#{userphone,jdbcType=VARCHAR}
        </trim>
    </insert>


    <!--queryUser-->
    <select id="queryUser" resultType="com.ril.rilcompany.model.UserModel">
        SELECT
        <include refid="USER_COLUMN"/>
        FROM
        <include refid="USER_TABLE"/>
        <where>
            <if test="username!=null">
                AND username = #{username, jdbcType=VARCHAR}
            </if>
        </where>
    </select>


    <!--editUser-->
    <update id="updateUser" parameterType="com.ril.rilcompany.model.UserModel">
        UPDATE
        <include refid="USER_TABLE"/>
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>

            <if test="password != null">
                email = #{password,jdbcType=VARCHAR},
            </if>

            <if test="usersex != null">
                password = #{usersex,jdbcType=VARCHAR},
            </if>

            <if test="useremail != null">
                username = #{useremail,jdbcType=VARCHAR},
            </if>

            <if test="userphone != null">
                sex = #{userphone,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE
        <if test="userid != null">
            userid = #{userid,jdbcType=INTEGER}
        </if>
    </update>


    <!--deleteUser-->
    <delete id="deleteUser">
        DELETE FROM
        <include refid="USER_TABLE"/>
        WHERE
        userid = #{userid,jdbcType=INTEGER}
    </delete>


</mapper>